@charset "UTF-8";

html {
    font-size: 100%;
}
body {
    font-family: sans-serif;
    text-align: center;
}
p {
    line-height: 1.7;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <Thin 100>;
    font-style: normal;
}
a {
    color: white;
}
.title {
    font-family: "Merriweather", serif;
    font-size: 5rem;
    margin-bottom: 2rem;
}
.container {
    /* スクロールスナップの設定 */
    overflow: auto;
    scroll-snap-type: y mandatory;
    height: 100vh;
}
.area {
    padding: 1rem;

    /* テキストを画面中央に表示 */
    display: flex;
    flex-direction: column;
    justify-content: center;

    /* スクロールスナップの設定 */
    scroll-snap-align: start;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh; /* ここでの高さは、具体的な要件に基づいて調整してください */
}

/* 各エリアの背景色 */
.area:nth-child(even) {
    color: pink;
    background-color: #3a4e48;
}
.area:nth-child(odd) {
    color: #330f0a;
    background-color: white;
}

#modalTrigger {
    text-decoration: underline;
}

.link {
    color: #3a4e48;
    text-decoration: underline;
}
.medium {
    color: #3a4e48;
}
.email {
    color: pink;
    text-decoration: underline;
}

.luma {
    width: 100%; /* iframeの幅をセクションの幅に合わせる */
    height: 100%; /* iframeの高さをセクションの高さに合わせる */
    border: none; /* 枠線を非表示にする */
}

/* モーダルのスタイル */
.modal {
    display: none; /* デフォルトでは非表示 */
    position: fixed; /* 画面に固定 */
    z-index: 1; /* コンテンツの上に表示 */
    left: 0;
    top: 0;
    width: 840px;
    height: 472.5px;
    overflow: auto; /* 必要に応じてスクロール */
    background-color: rgba(0,0,0,0.4); /* 黒の透過背景 */
}

/* モーダルウィンドウの背景スタイル */
.modal {
    display: none; /* 初期状態では非表示 */
    position: fixed; /* 画面全体に固定 */
    z-index: 1; /* コンテンツの上に表示 */
    left: 0;
    top: 0;
    width: 100%; /* 幅全体 */
    height: 100%; /* 高さ全体 */
    overflow: auto; /* 必要に応じてスクロール */
    background-color: rgba(0, 0, 0, 0.6); /* 背景色を半透明に */
}
/* モーダルのコンテンツスタイルの更新 */
.modal-content {
    background-color: black;
    border-radius: 1%;
    margin: auto; /* 画面の中央に配置 */
    position: fixed; /* ページのスクロールに関わらず固定位置にする */
    top: 50%; /* 上から50%の位置に */
    left: 50%; /* 左から50%の位置に */
    transform: translate(-50%, -50%); /* 中央に配置するための調整 */
    padding: 0; /* paddingを0に設定 */
    border: 1px solid black;
    width: 640px;
    height: 360px;
    box-sizing: border-box; /* borderとpaddingをwidthとheightに含める */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* YouTube iframeのスタイルを調整 */
.modal-content iframe {
    width: 640px; /* iframeの幅をモーダルコンテンツの幅に合わせる */
    height: 360px;
    border: none; /* iframeの境界線を削除 */
}

/* 閉じるボタンを非表示にする */
.close-button {
    display: none;
}

/*
.close-button {
    color: #3a4e48;
    position: absolute;
    right: 15px;
    top: 10px;
    z-index: 2;
}
.close-button:hover,
.close-button:focus {
    color:  white;
    text-decoration: none;
    cursor: pointer;
}
*/

/* メディアクエリー */
@media (max-width: 400px) {
    .iframe-wrapper {
        position: relative;
        width: 80%;
        margin: 0 auto;
        padding-top: 45%; /* 16:9のアスペクト比 */
    }
    
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
.title {
    font-size: 400%:
}

